@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    @apply pb-24;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 12px;
    @apply rounded-xl;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgba(112, 58, 202, 0.2);
    @apply mt-1 rounded-xl;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-gray-400;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply rounded-xl bg-gray-700;
  }
}

@layer components {
  .btn-primary {
    @apply px-8 py-2 text-white drop-shadow-2xl shadow-lg shadow-[#1e4fff70] font-semibold uppercase rounded-xl items-start duration-150 bg-[#1e4fff] text-center hover:bg-[#1e4fff6b]  hover:scale-[1.02];
  }

  .btn-red {
    @apply px-8 py-2 text-white shadow-sm font-semibold uppercase rounded-xl items-start duration-150 bg-[#ff1e1e] text-center hover:bg-[#ff1e1e6b]  hover:scale-[1.02];
  }

  .btn-sm {
    @apply text-sm  px-4 py-1 rounded-lg;
  }
  .card {
    box-shadow: 0px 12px 25px rgba(112, 58, 202, 0.25);
    @apply py-8 px-5 bg-base-100 rounded-2xl;
  }

  .label {
    @apply text-[#525C76] text-xs font-bold;
  }

  .input {
    border: 1px solid #eef2f6;
    box-shadow: 0px 12px 25px rgba(112, 58, 202, 0.15);
    @apply bg-base-200 flex w-full px-4 py-2 text-sm caret-[#1e4fff]  rounded-xl focus:ring-2 ring-offset-0 focus:ring-white;
  }
  .input-sm {
    border: 1px solid #eef2f6;
    box-shadow: 0px 12px 25px rgba(112, 58, 202, 0.15);
    @apply bg-base-200 flex w-full px-2 py-1 text-sm caret-[#1e4fff]  rounded-md focus:ring-1 focus:ring-white;
  }

  .centered-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex: 1 1 auto;
    counter-reset: grid;
  }

  .centered-grid-item {
    grid-column: span 2;
    /* Dealing with 2 orphan items */
    /* Dealing with single orphan */
  }
  .centered-grid-item::after {
    counter-increment: grid;
  }
  .centered-grid-item:last-child:nth-child(3n-1) {
    grid-column-end: -2;
  }
  .centered-grid-item:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }
  .centered-grid-item:last-child:nth-child(3n-2) {
    grid-column-end: 5;
  }

  .switch-input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #1e50ff;
  }

  .checkbox-fix:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23262626' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }

  .box {
    background-color: #1b1e26;
    border: 2px solid #eef2f6;
  }

  .switch-input:checked ~ .box {
    background-color: #050c26;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
