@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    @apply pb-24;
  }
}

@layer components {
  .btn-primary {
    @apply px-8 py-2 text-white shadow-sm font-semibold uppercase items-start duration-150 bg-[#1e4fff] text-center hover:bg-[#1e4fff6b]  hover:scale-[1.02];
    border-radius: 12px;
  }
  .btn-red {
    @apply px-8 py-2 text-white shadow-sm font-semibold uppercase items-start duration-150 bg-[#ff1e1e] text-center hover:bg-[#ff1e1e6b]  hover:scale-[1.02];
    border-radius: 12px;
  }
  .card {
    background: #272d37;
    box-shadow: 0px 12px 25px rgba(112, 58, 202, 0.25);
    border-radius: 16px;
    @apply py-8 px-5;
  }

  .label {
    @apply text-[#525C76] text-xs font-bold;
  }

  .input {
    background: #ffffff1a;
    border: 1px solid #eef2f6;
    border-radius: 12px;
    box-shadow: 0px 12px 25px rgba(112, 58, 202, 0.15);
    @apply flex w-full px-4 py-2 text-sm caret-[#1e4fff] focus:ring-2 ring-offset-0 focus:ring-white;
  }

  .centered-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex: 1 1 auto;
    counter-reset: grid;
  }

  .centered-grid-item {
    grid-column: span 2;
    /* Dealing with 2 orphan items */
    /* Dealing with single orphan */
  }
  .centered-grid-item::after {
    counter-increment: grid;
  }
  .centered-grid-item:last-child:nth-child(3n-1) {
    grid-column-end: -2;
  }
  .centered-grid-item:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }
  .centered-grid-item:last-child:nth-child(3n-2) {
    grid-column-end: 5;
  }

  .switch-input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #1e50ff;
  }

  .box {
    background-color: #1b1e26;
    border: 2px solid #eef2f6;
  }

  .switch-input:checked ~ .box {
    background-color: #050c26;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
